<form class="box" action="/station/{{_id}}/auto" method="POST">
  <div class="columns is-mobile">
    <div class="field column is-full-mobile is-one-sixth-desktop">
      <div class="control">
        <button class="button is-link is-primary is-fullwidth">Auto Generate Reading</button>
      </div>
    </div>
  </div>
</form>