
{{#each stations}}

<div class="content box">
    <h1 class="title">
        {{ title }}
    </h1>
    <a href="/station/{{_id}}" class="button">
        {{> icons/open }}
    </a>
</div>

{{/each}}
