<nav class="navbar is-info is-inverted">
  <div class="navbar-brand">
    <a id="home" class="navbar-item" href="/"> Home </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
      <a id="about" class="navbar-item" href="/about">About </a>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("has-background-black", "has-text-white");
</script>