<nav class="navbar is-info is-inverted">
  <div class="navbar-brand">
    {{#unless user}}
      <a id="start" class="navbar-item" href="/"> Home </a>
    {{/unless}}
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-end">
      {{#unless user}}
        <a id="about" class="navbar-item" href="/about">About</a>
        <a id="login" class="navbar-item" href="/login">Login</a>
        <a id="register" class="navbar-item" href="/register">Register</a>
      {{else}}
        <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
        <a id="account" class="navbar-item" href="/account">Profile</a>
        <a id="about" class="navbar-item" href="/about">About</a>
        <a id="logout" class="navbar-item" href="/logout">Logout</a>
      {{/unless}}
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("has-background-black", "has-text-white");
</script>