{{> menu active="about"}}

<div class="content box">
  <p class="title">
    About WeatherTop Inc.
  </p>
  <p>
    WeatherTop Inc. is a leading innovator in the world of meteorological technology, committed to providing
    cost-effective and user-friendly solutions to weather enthusiasts and professionals alike. Our passion for
    understanding and predicting weather patterns has led us to develop the WeatherTop 1000 - a versatile and modular
    weather station designed to make meteorological data accessible to everyone.
  </p>

  <p class="title">
    The WeatherTop 1000
  </p>

  <p>
    The WeatherTop 1000 is a low-cost, high-performance weather station that provides accurate and real-time
    meteorological readings, displayed on a simple LCD screen. This compact device is perfect for homeowners, hobbyists,
    and educational institutions looking to monitor local weather conditions with ease.
  </p>

  <figure>
    <img class="image w-400 has-image-centered" src="../images/weather-instrument.jpg" alt="WeatherTop 1000" />
  </figure>

  <p class="title">
    Web Companion Application
  </p>
  <p>
    To enhance the WeatherTop 1000 experience, we have developed a web companion application, which allows users to
    access their weather data online. This application offers a dashboard view of meteorological readings, enabling
    users to monitor multiple weather stations, view historical data, and gain valuable insights into local weather
    patterns.
  </p>

  <p class="title">
    Our Vision
  </p>
  <p>
    At WeatherTop Inc., we believe that understanding the weather should be a universal pursuit. We are committed to
    developing innovative and accessible solutions that empower individuals and communities to engage with
    meteorological data in meaningful ways. Through our products and services, we strive to make weather monitoring and
    analysis simple, efficient, and enjoyable.
  </p>
</div>