{{> menu active="dashboard"}}

{{> flash-messages}}

{{> add-station}}

{{#if stations}}
    {{> list-stations}}
{{else}}
    <p>You have no stations yet. Add one!</p>
{{/if}}

<dialog id="confirmDeleteDialog">
    <p class="title">Are you sure you want to delete this station?</p>
    <div class="has-text-centered">
        <form id="deleteForm" method="POST" action="">
            <button class="button is-danger" id="confirmDelete" type="submit">Yes, delete</button>
        </form>
        <button class="button is-light" id="cancelDelete">No, cancel</button>
    </div>
</dialog>