{{> menu active="home"}}

<section class="section">
  <h1 class="title has-text-centered">Welcome to WeatherTop</h1>
  <h2 class="subtitle has-text-centered">
    <strong>WeatherTop Starter</strong>, your personal companion for the WeatherTop 1000 weather station!
  </h2>
</section>

<figure class="image w-400 has-image-centered p-10">
  <img src="../images/weathertop-watch-tower.jpg" alt="WeatherTop 1000">
</figure>

<section class="content">
  <p>
    WeatherTop is a user-friendly web application designed for owners of consumer-level weather stations.
    This platform allows members to submit weather reports from their stations, providing real-time readings
    and insightful analytics. Monitor and analyze data from multiple stations, all in one convenient location.
    Stay informed and contribute to a community-driven weather experience.
  </p>
</section>

<section class="section">
  <h2 class="title has-text-centered">Dashboard</h2>
</section>

<section>
  <p>
    Our sleek dashboard allows you to view current weather readings for each station, including weather code, temperature
    in Celsius, and wind speed in km/h. The About and Main views of the application contain captivating graphic images,
    as well as information about WeatherTop Inc. and the WeatherTop 1000 weather station.
  </p>
</section>

<section class="section">
  <h2 class="title has-text-centered">Explore</h2>
</section>

<section>
  <p>
    Navigate through the application to explore our features and discover the importance of accurate weather readings.
    Our mission is to create a community-driven platform that encourages sharing of weather data, fostering collaboration
    and promoting a deeper understanding of the weather conditions around us.
  </p>
</section>

<section class="section">
  <h2 class="title has-text-centered">
    Embark on your WeatherTop adventure today and unlock the power of weather data!
  </h2>
</section>


