{{> menu active="home"}}

{{> flash-messages}}

<section class="section">
    <h1 class="title has-text-centered">Welcome to WeatherTop</h1>
    <h2 class="subtitle has-text-centered">
        <strong>WeatherTop</strong>, your personal companion for managing and analyzing data from multiple WeatherTop
        1000 weather stations!
    </h2>
</section>

<section class="content">
    <p>
        WeatherTop is a user-friendly web application designed for owners of consumer-level weather stations.
        This platform allows members to submit weather reports from their stations, providing real-time readings
        and insightful analytics. With the latest release, you can manage multiple stations and view detailed readings
        for each. Stay informed and contribute to a community-driven weather experience.
    </p>
</section>

<div class="columns">
    <div class="column">
        <figure class="image w-400 has-image-centered p-10">
            <img src="../images/weathertop-watch-tower.jpg" alt="WeatherTop 1000">
        </figure>
    </div>
    <div class="column">

        <section class="section">
            <h2 class="title has-text-centered">Dashboard</h2>
        </section>

        <section>
            <p>
                Our enhanced dashboard allows you to view and manage your weather stations. View current weather
                readings for
                each station,
                including weather code, temperature in Celsius, and wind speed in km/h. Add new stations and navigate to
                detailed views
                for each station, all from the dashboard. The About and Main views of the application contain
                captivating
                graphic images,
                as well as information about WeatherTop Inc. and the WeatherTop 1000 weather station.
            </p>
        </section>

        <section class="section">
            <h2 class="title has-text-centered">Explore</h2>
        </section>

        <section>
            <p>
                Navigate through the application to explore our new features. View detailed readings and analytics for
                each
                station.
                Our mission is to create a community-driven platform that encourages sharing of weather data, fostering
                collaboration
                and promoting a deeper understanding of the weather conditions around us.
            </p>
        </section>

        <section class="section">
            <h2 class="title has-text-centered">
                Embark on your WeatherTop adventure today and unlock the power of weather data!
            </h2>
        </section>
    </div>
</div>