{{> menu active="about"}}

{{#if flash.error}}
<div class="notification is-danger">
  {{flash.error}}
</div>
{{/if}}

{{#if flash.success}}
<div class="notification is-success">
  {{flash.success}}
</div>
{{/if}}

<div class="content box">
    <h1 class="title">
        {{ title }}
    </h1>

    {{#if readings}}
        {{> card-readings}}
        {{> list-readings}}
    {{else}}
        <p>You have no readings yet. Add one!</p>
    {{/if}}
    
</div>

{{> add-reading}}