{{> menu active="dashboard"}}

{{> station-map}}

{{> flash-messages}}

{{> add-reading}}
{{> auto-reading}}

<div class="content box">
    {{#if readings}}
        {{> card-readings}}
        {{> list-readings}}
    {{else}}
        <p>You have no readings yet. Add one!</p>
    {{/if}}
</div>

{{> confirm-modal }}