{{> menu active="station"}}



<div class="content box">
    <h1 class="title">
        {{ title }}
    </h1>

    {{#if readings}}
        {{> card-readings}}
        {{> list-readings}}
    {{else}}
        <p>You have no readings yet. Add one!</p>
    {{/if}}
    
</div>

{{> add-reading}}