.w-400 {
  width: 400px;
}

.p-10 {
  padding: 10px;
}

.icon {
  width: 100px;
  height: 100px;
}

.large-icon {
  width: 200px;
  height: 200px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.message, .is-full-height {
  height: 100%;
}

.notification {
  margin-top: 5px;
}

.card-header {
  border-top: 1px solid rgba(34, 36, 38, .1);
}

.has-thin-border-bottom {
  border-bottom: 1px solid rgba(34, 36, 38, .1);
}

button.icon:hover {
  color: #cc0000 !important;
  cursor: pointer;
  font-size: 16px;
}

button.icon {
  font-size: 16px;
}

#cancelDelete {
  margin-top: 1.15em;
}

#confirmDeleteDialog form {
  display: inline-block;
}

.graph-svg-tip.comparison span.title {
  font-size: 16px;
  color: #ffffff;
  margin: 8px 5px;
  padding: 0px;
  text-align: center;
}
.graph-svg-tip.comparison span.title strong {
  display: none;
}
.graph-svg-tip.comparison ul.data-point-list, 
.graph-svg-tip.comparison ul.data-point-list li {
  margin-top:0px;
  padding-top: 0px;
}