.w-400 {
  width: 400px;
}

.p-10 {
  padding: 10px;
}

.icon {
  width: 100px;
  height: 100px;
}

.large-icon {
  width: 200px;
  height: 200px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.message, .is-full-height {
  height: 100%;
}

.notification {
  margin-top: 5px;
}

.card-header {
  border-top: 1px solid rgba(34, 36, 38, .1);
}

.has-thin-border-bottom {
  border-bottom: 1px solid rgba(34, 36, 38, .1);
}

button.icon:hover {
  color: #cc0000 !important;
  cursor: pointer;
  font-size: 16px;
}

button.icon {
  font-size: 16px;
}

#confirmDeleteDialog form {
  display: inline-block;
}